#nop {Connect to RetroMUD - type: youn | mektos | larktin | shirou}

#READ {retromud-tin/login.var};
#READ {retromud-tin/tin/profile.tt};

#var {loginchar} {};
#var {loggedin} {0};
#var {loginpending} {0};

#ALIAS {mektos}
{
    @_connect_character{Mektos; retromud-Mektos; retromud-tin/profiles/Mektos.tt};
};

#ALIAS {youn}
{
    @_connect_character{Youn; Retromud-Youn; retromud-tin/profiles/Youn.tt};
};

#ALIAS {larktin}
{
    @_connect_character{Larktin; retromud-larktin; retromud-tin/profiles/Larktin.tt};
};

#ALIAS {shirou}
{
    @_connect_character{Shirou; retromud-shirou; retromud-tin/profiles/Shirou.tt};
};

#nop {Backup profile load after main.tt finishes on reconnect}
#EVENT {SESSION CONNECTED}
{
    #delay 2 {@_profile_load{};};
};

#ACTION {^Enter selection, or name:}
{
    #IF {$loginpending == 1 && "$loginchar" != ""} {#SEND {$loginchar};};
};

#ACTION {^Please enter your password:}
{
    #IF {$loginpending == 1 && "$loginpass" != ""}
    {
        #SEND {$loginpass};
        #VAR {loginpending} {0};
    };
};

#ACTION {^Password:}
{
    #IF {$loginpending == 1 && "$loginpass" != ""}
    {
        #SEND {$loginpass};
        #VAR {loginpending} {0};
    };
};
