#read retromud-tin/tin/all.tt

#nop {Fallback if $character was not set before session startup}
#if {"$character" == "" && "$loginchar" != ""}
{
    #var {character} {$loginchar};
};

@_profile_load{};
