#var {my[food]} {blood}
#var {my[class][primary]} {fallen}
#var {my[level][primary]} {13}

#read {retromud-tin/tin/fallen-alias.tt}

#ALIAS {tar}
{
    #VARIABLE {my[target]} {%1};
} {5};

#class fallen-alias open;
