#var {my[food]} {corpse}
#var {my[class][primary]} {mage}
#var {my[level][primary]} {16}

#read {retromud-tin/tin/mage-alias.tt}

#class {default} {open}

#ALIAS {tar}
{
    #VARIABLE {my[target]} {%1};
} {5};
