#nop {Main configuration for RetroMud}

#READ {retromud-tin/tin/vars/files.var};

#read retromud-tin/tin/pubsub.tt;

#foreach {$DATA[%*]} {file}
{
    #READ {$file};
};


#foreach {$FILES[%*]} {file}
{
    #READ {$file};
};

