#nop {Main configuration for RetroMud}

#READ {retromud-tin/tin/vars/files.tin};


#foreach {$DATA[%*]} {file}
{
    #READ {$file};
};

#READ {retromud-tin/tin/pubsub.tt};
#READ {retromud-tin/tin/config.tt};

#foreach {$FILES[%*]} {file}
{
    #READ {$file};
};

#READ {retromud-tin/tin/prompt.tt};
#READ {retromud-tin/tin/settings.tt};
#UNVARIABLE {file};