#nop {Main configuration for RetroMud}

#READ {retromud-tin/tin/vars/prompt.var};
#READ {retromud-tin/tin/vars/map.var};
#READ {retromud-tin/tin/vars/mapping.var};

#read retromud-tin/tin/pubsub.tt;

#READ {retromud-tin/tin/util.tt};
#READ {retromud-tin/tin/profile.tt};
#READ {retromud-tin/tin/screen.tt};
#READ {retromud-tin/tin/comms.tt};
#READ {retromud-tin/tin/settings.tt};
#READ {retromud-tin/tin/prompt.tt};
#READ {retromud-tin/tin/alias.tt};
#READ {retromud-tin/tin/events.tt};
#READ {retromud-tin/tin/mapping.tt};
#READ {retromud-tin/tin/map.tt};
#READ {retromud-tin/tin/mapnotes.tt};

#nop {SESSION CONNECTED may fire before this file finishes loading}
#screen rescale 2000 3000;
@_screen_update{};
