#class screen open;

#var {MAPNOTES[is_enabled]} {1};
#var {SCREEN[bottom_rows]} {12};
#var {SCREEN[top_rows]} {6};
#var {comm_window[active]} {1};
#var {bot} {0};
#var {PATHS[creating]} {0};
#var {PATHS[current_speed]} {walk};
#var {BOT[auto_step]} {0};
#var {BOT[vnum]} {0};
#var {BOT[path]} {};
#var {BOT[position]} {0};
#var {TRACK[found]} {0};

#FUNCTION {_screen_update}
{
    #local _rows {};
    #local _cols {};

    #split 6 12 0 -120 1;

    #screen get rows _rows;
    #screen get cols _cols;

    #if {$_rows == 0} {#var _rows {40};};
    #if {$_cols == 0} {#var _cols {120};};

    #var {SCREEN[cols]} {$_cols};
    #var {SCREEN[split]} {$_rows};

    #if {$_cols > 160}
    {
        #var {SCREEN[size]} {ultra_wide};
    };
    #else
    {
        #var {SCREEN[size]} {normal};
    };

    #var {SCREEN[comms][toprow]} {$_rows - $SCREEN[bottom_rows] + 1};
    #var {SCREEN[comms][botrow]} {$_rows - 1};
    #var {SCREEN[comms][topcol]} {1};
    #var {SCREEN[comms][botcol]} {$_cols};
    #var {SCREEN[comms][ul][y]} {$SCREEN[comms][toprow]};
    #var {SCREEN[comms][ul][x]} {$SCREEN[comms][topcol]};
    #var {SCREEN[comms][lr][y]} {$SCREEN[comms][botrow]};
    #var {SCREEN[comms][lr][x]} {$SCREEN[comms][botcol]};

    #var {SCREEN[buffer][toprow]} {1};
    #var {SCREEN[buffer][botrow]} {$_rows - $SCREEN[bottom_rows]};
    #var {SCREEN[buffer][topcol]} {1};
    #var {SCREEN[buffer][botcol]} {$_cols};

    #var {SCREEN[map][toprow]} {1};
    #var {SCREEN[map][topcol]} {$_cols - 40};
    #var {SCREEN[map][botrow]} {$_rows - $SCREEN[bottom_rows]};
    #var {SCREEN[map][botcol]} {$_cols - 1};

    @PUBSUB_PUBLISH{screen_changed};
    #RETURN {#NOP};
};

#EVENT {SCREEN RESIZE}
{
    @_screen_update{};
};

