#EVENT {SESSION CONNECTED} {
    #screen rescale 2000 3000;
    #VARIABLE {my[target]} {monster};
    @_screen_update{};
};

#var {AUTO[eat]} {0};
#var {AUTO[drink]} {0};
#var {loggedin} {0};

#alias {set auto eat}
{
    #if {$AUTO[eat]}
    {
        WarningMessage Disabling Auto Eat and Drink...;
        #var AUTO[eat] 0;
        #var AUTO[drink] 0;
    };
    #else
    {
        InfoMessage Enabling Auto Eat and Drink...;
        #var AUTO[eat] 1;
        #var AUTO[drink] 1;
    };
}
