#class settings open;

#EVENT {SESSION CONNECTED} {
    #screen rescale 2000 3000;
    #config speedwalk off;
};

#EVENT {SCREEN RESIZE} {
    #split 6 6 0 -120 1;
};

#alias {set auto eat}
{
    #if {$AUTO[eat]}
    {
        WarningMessage Disabling Auto Eat and Drink...;
        #var AUTO[eat] 0;
        #var AUTO[drink] 0;
    };
    #else
    {
        InfoMessage Enabling Auto Eat and Drink...;
        #var AUTO[eat] 1;
        #var AUTO[drink] 1;
    };
}


#class settings close;
